{% extends 'base.html.twig' %}

{% block title %}WaitingUser index{% endblock %}

{% block body %}
    <h1>WaitingUser index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Longitude</th>
                <th>Latitude</th>
                <th>Destination</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for waiting_user in waiting_users %}
            <tr>
                <td>{{ waiting_user.id }}</td>
                <td>{{ waiting_user.name }}</td>
                <td>{{ waiting_user.longitude }}</td>
                <td>{{ waiting_user.latitude }}</td>
                <td>{{ waiting_user.destination }}</td>
                <td>
                    <a href="{{ path('waiting_user_show', {'id': waiting_user.id}) }}">show</a>
                    <a href="{{ path('waiting_user_edit', {'id': waiting_user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('waiting_user_new') }}">Create new</a>
{% endblock %}
